{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
<div class="container mx-auto">
    <!-- Hero section -->
    <section class="bg-white py-20">
        <div class="max-w-4xl mx-auto">
            <h1 class="text-4xl font-bold text-gray-800 mb-8">Learn to Trade Stocks at Investopia!</h1>
            <p class="text-gray-600 leading-loose mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis ante at enim pulvinar dictum. Fusce dapibus mauris sit amet libero rutrum, eget aliquet dolor bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent euismod, lorem et tristique sagittis, augue odio ullamcorper risus, et pulvinar turpis dolor vel mi.</p>
            <a href="#" class="bg-blue-500 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-blue-600 transition-colors duration-300">Get Started</a>
        </div>
    </section>
</body>


{% endblock %}

    

</html>