{% extends "layout.html" %} {% block title %} {% endblock %} {% block main %}
<div class="flex flex-col md:flex-row m-8 md:m-10 mt-10">
  <!-- Portfolio section -->
  <div class="section md:w-1/5 gap-0 h-8"></div>
  <div class="section md:w-3/5 gap-0 md:gap-4">
    <h2 class="text-2xl font-bold mb-4 text-blue-800">Portfolio</h2>
    <div
      class="grid grid-cols-5 border-b-2 border-gray-300 py-2 tracking-tight text-sm md:text-base font-semibold"
    >
      <h5>Stock Symbol</h5>
      <h5>No. of Shares</h5>
      <h5>Cost of Shares</h5>
      <h5>Current Value</h5>
      <h5>Profit/Loss</h5>
    </div>
    {% for stock in portfolio %}
    <div class="grid grid-cols-5 py-2 text-sm md:text-base">
      <div class="font-light">{{ stock.stock }}</div>
      <div class="font-light">{{ stock.no_of_shares }}</div>
      <div class="font-light">{{ stock.total_cost|usd }}</div>
      <div class="font-light">{{ stock.market_value|usd }}</div>
      <div class="font-light">{{ stock.profit_loss|usd }}</div>
    </div>
    {% endfor %}
    <div class="finstats border-t-2 border-gray-300 pt-4 text-sm md:text-base">
      <div class="grid grid-cols-2 py-2">
        <div class="font-semibold">Total Share Market Value</div>
        <div class="font-light ml-4">{{ total_share_value|usd }}</div>
      </div>
      <div class="grid grid-cols-2 py-2">
        <div class="font-semibold">Remaining Cash</div>
        <div class="font-light ml-4">{{ cash|usd }}</div>
      </div>
      <div class="grid grid-cols-2 py-2">
        <div class="font-semibold">Total Equity</div>
        <div class="font-light ml-4">{{ (cash + total_share_value)|usd }}</div>
      </div>
      <div class="grid grid-cols-2 py-2">
        <div class="font-semibold">Net Gain/Loss</div>
        <div class="font-light ml-4">
          {{ (cash + total_share_value - 10000)|usd }}
        </div>
      </div>
    </div>
  </div>
  <!-- End of Portfolio section -->

  <!-- Spacer for mobile layout -->
  <div class="md:hidden w-full h-8"></div>

  <!-- Placeholder for additional sections -->
  <div class="section md:w-1/5">
    <!-- Add additional sections here -->
  </div>
</div>

{% endblock %}
