{% extends "layout.html" %} {% block title %} List of Users {% endblock %} {%
block main %}
<div class="flex flex-col md:flex-row m-8 md:m-10">
  <!-- Portfolio section -->
  <div class="section md:w-1/3">
    <h2 class="text-2xl font-bold mb-4">Portfolio</h2>
    <div
      class="grid grid-cols-5 border-b-2 border-gray-300 py-2 tracking-tight text-sm md:text-base font-semibold"
    >
      <h5>Stock Symbol</h5>
      <h5>No. of Shares</h5>
      <h5>Cost of Shares</h5>
      <h5>Current Value</h5>
      <h5>Profit/Loss</h5>
    </div>
    {% for stock in portfolio %}
    <div class="grid grid-cols-5 py-2">
      <div class="font-medium">{{ stock.stock }}</div>
      <div class="font-medium">{{ stock.no_of_shares }}</div>
      <div class="font-medium">{{ stock.total_cost }}</div>
      <div class="font-medium">{{ stock.market_value }}</div>
      <div class="font-medium">{{ stock.profit_loss }}</div>
    </div>
    {% endfor %}
    <div class="finstats border-t-2 border-gray-300 pt-4">
      <div class="grid grid-cols-2 py-2">
        <div class="font-semibold">Total Cost of Shares</div>
        <div class="font-medium">{{ cost }}</div>
      </div>
      <div class="grid grid-cols-2 py-2">
        <div class="font-semibold">Remaining Cash</div>
        <div class="font-medium">{{ cash }}</div>
      </div>
      <div class="grid grid-cols-2 py-2">
        <div class="font-semibold">Total Equity</div>
        <div class="font-medium">{{ test }}</div>
      </div>
    </div>
  </div>
  <!-- End of Portfolio section -->

  <!-- Spacer for mobile layout -->
  <div class="md:hidden w-full h-8"></div>

  <!-- Placeholder for additional sections -->
  <div class="section md:w-2/3">
    <!-- Add additional sections here -->
  </div>
</div>

{% endblock %}
