{% extends "layout.html" %} {% block title %} Quote {% endblock %} {% block main
%}
<!-- x -->
<div class="flex flex-col md:flex-row m-6 md:m-10 mt-10">
  <div class="section md:w-1/5 gap-0 h-0 md:h-8"></div>
  <div class="section md:w-3/5 gap-0 md:gap-4 border shadow-lg rounded-lg">
    <h2 class="text-xl md:text-2xl font-bold py-2 text-blue-800 text-center pt-4 md:py-5">Dashboard</h2>
    <div
      class="grid grid-cols-4 border-t-2 border-b-2 border-blue-400 tracking-tight text-xs md:text-base font-semibold text-center"
    >
      <h5>Stock Symbol</h5>
      <h5>No. of Shares</h5>
      <h5>Current Value</h5>
      <h5>Profit/Loss</h5>
    </div>
    {% for stock in portfolio %}
    <div class="grid grid-cols-4 py-2 text-xs md:text-base text-center">
      <div class="font-semibold">{{ stock.stock }}</div>
      <div class="font-light">{{ stock.no_of_shares }}</div>
      <div class="font-light">{{ stock.market_value|usd }}</div>
      <div class="font-semibold">
        {% if stock.profit_loss < 0 %}
          <p class="text-red-700">{{ stock.profit_loss|usd }}</p>
        {% else %}
          <p class="text-green-700">{{ stock.profit_loss|usd }}</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    <div class="section md:w-1/5 gap-0 h-8"></div>
    <div class="md:hidden w-full h-8"></div>
    <div class="flex-row w-full justify-left mt-4 md:mt-10">
      <form action="/sell" method="post" class="mx-auto max-w-md border shadow-md rounded-lg mb-10">
        <h2
          class="text-sm md:text-lg font-semibold text-white bg-blue-800 px-4 py-2 rounded-t-md"
        >
          Thinking of Selling?
        </h2>
        <div class="flex">
          <label
            for="symbol"
            class="font-medium text-sm bg-yellow-400 text-blue-800 border px-4 py-2 w-1/2"
            >Pick your stock</label
          >
          <select
            id="symbol"
            name="symbol"
            class="form-select text-sm bg-blue-200 px-4 py-2 w-1/2 text-center tracking-wider"
          >
            <option value="">--Select--</option>
            {% for each in stock_owned %}
            <option value={{ each }}>{{ each }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="flex">
          <label
            for="shares"
            class="font-medium text-sm bg-yellow-400 text-blue-800 border px-4 py-2 w-1/2"
            >No. of Shares</label
          >
          <input
            autocomplete="off"
            id="shares"
            name="shares"
            type="number"
            class="form-input border px-4 py-2 w-1/2 text-center tracking-wider"
          />
        </div>
        <div class="flex justify-center">
          <button
            type="submit"
            class="bg-yellow-400 text-blue-800 border-2 border-blue-800 font-semibold py-2 px-4 rounded-full w-3/5 md:w-2/5 my-4"
          >
            SELL
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- x -->

  <!-- x -->
  {% endblock %}
</div>
