{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="section">
        <h2>Transaction Success!</h2>
    </div>
    <div class = "container text-center">
        <div class = "row">
            <div class="col"><h5>Stock Symbol</h5></div>
            <div class="col"><h5>No. of Shares Sold</h5></div>
            <div class="col"><h5>Sale Proceeds</h5></div>
            <div class="col"><h5>Cash on Hand</h5></div>
        </div>
        <div class = "row">
            <div class="col">{{ sell_stock }}</div>
            <div class="col">{{ sold_shares }}</div>
            <div class="col">{{ sale_proceeds }}</div>
            <div class="col"><h5>{{ current_cash}}</h5></div>
        </div>
    </form>

{% endblock %}